<h1>I don't think we've met before...?</h1>

<form method="POST">
  {{{anti-forgery-field}}}
  First name:<br>
  <input type="text" name="name">
  <br>
  Location:<br>
  <input type="text" name="location">
  <input type="submit" value="Submit">
</form>
