<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title-template}} :: Clojure demo site</title>
    <meta name="description" content="Clojure demo site">
    <meta name="author" content="Gary Crawford">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="">
  
    <link rel="stylesheet" href="css/styles.css">
  
  </head>
  
  <body>
